$breakpoints: (
  sm: 36rem,
  md: 48rem,
  lg: 64rem,
  xl: 80rem
);

$container-widths: (
  md: 48rem,
  lg: 64rem,
  xl: 80rem
);

$vertical-spacing: (
  compact: 0.75rem,
  comfortable: 1rem,
  spacious: 1.5rem
);
